{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h4 class="pull-left page-title">{{ page }}</h4>
        <ol class="breadcrumb pull-right">
            <li>{{ user|title }}</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            {% if messages %}

                {% for message in messages %}

                <div class="alert alert-success border-0 alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>{{ message }}.
                </div>
                {% endfor %}

            {% endif %}
            <div class="panel-heading">
                <h3 class="panel-title">Datatable <a href="{% url 'add_town' %}">
                    <button class="btn btn-primary waves-effect waves-light pull-right">Add
                        <i class="fa fa-plus"></i></button></a></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Town</th>
                                    <th>Provice</th>
                                    <th>Country</th>
                                    <th>Action</th>
<!--                                    <th></th>-->
<!--                                    <th></th>-->
                                </tr>
                            </thead>
                            <tbody>
                            {% for q in queryset %}
                                <tr>
                                    <td>{{ q.name }}</td>
                                    <td>{{ q.province }}</td>
                                    <td>{{ q.province.country }}</td>
                                    <td class="actions">
                                                <a href="#" class="hidden on-editing save-row"><i class="fa fa-save"></i></a>
                                                <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
                                                <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                                                <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Row -->
{% endblock %}