{% load static %}

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>


<![endif]-->

<script src="{% static 'js/modernizr.min.js' %}"></script>


<!-- jQuery  -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/waves.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/jquery.nicescroll.js' %}"></script>
<script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'assets/chat/moment-2.2.1.js' %}"></script>
<script src="{% static 'assets/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'assets/jquery-detectmobile/detect.js' %}"></script>
<script src="{% static 'assets/fastclick/fastclick.js' %}"></script>
<script src="{% static 'assets/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
<script src="{% static 'assets/jquery-blockui/jquery.blockUI.js' %}"></script>

<!-- sweet alerts -->
<script src="{% static 'assets/sweet-alert/sweet-alert.min.js' %}"></script>
<script src="{% static 'assets/sweet-alert/sweet-alert.init.js' %}"></script>

<!-- flot Chart -->
<!--        <script src="{% static 'assets/flot-chart/jquery.flot.js' %}"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.js"></script>
<script src="{% static 'assets/flot-chart/jquery.flot.time.js' %}"></script>
<script src="{% static 'assets/flot-chart/jquery.flot.tooltip.min.js' %}"></script>
<script src="{% static 'assets/flot-chart/jquery.flot.resize.js' %}"></script>
<script src="{% static 'assets/flot-chart/jquery.flot.pie.js' %}"></script>

<script src="{% static 'assets/flot-chart/jquery.flot.selection.js' %}"></script>
<script src="{% static 'assets/flot-chart/jquery.flot.stack.js' %}"></script>
<script src="{% static 'assets/flot-chart/jquery.flot.crosshair.js' %}"></script>

<!-- Counter-up -->
<script src="{% static 'assets/counterup/waypoints.min.js' %}"></script>
<script src="{% static 'assets/counterup/jquery.counterup.min.js' %}"></script>

<!-- CUSTOM JS -->
<script src="{% static 'js/jquery.app.js' %}"></script>

<!-- Dashboard -->
<script src="{% static 'js/jquery.dashboard.js' %}"></script>

<!-- Chat -->
<script src="{% static 'js/jquery.chat.js' %}"></script>

<!-- Todo -->
<script src="{% static 'js/jquery.todo.js' %}"></script>

<script>
    var resizefunc = [];
</script>



<script type="text/javascript">
    /* ==============================================
    Counter Up
    =============================================== */
    jQuery(document).ready(function($) {
        $('.counter').counterUp({
            delay: 100,
            time: 1200
        });
    });
</script>